<!-- Navbar -->
<div class="mobile-menu" data-mobile>
  <div class="container div-menu">
    <div class="top-div">
      <button class="btn-x">
        <svg class="icon-x" width="24" height="24">
          <use href="../img/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <img class="" src="../img/logo.svg" alt="Yoga" width="84" height="36" />
      <a href="#" class="page-header-link">Join</a>
    </div>
    <ul class="menu-link">
      <li class="menu-list"><a href="" class="menu-text">Yoga Classes</a></li>
      <li class="menu-list"><a href="" class="menu-text">Team</a></li>
      <li class="menu-list"><a href="" class="menu-text">Testimonials</a></li>
      <li class="menu-list"><a href="" class="menu-text">Pricing</a></li>
      <li class="menu-list"><a href="" class="menu-text">Contacts</a></li>
    </ul>
    <button class="btn-bottom">Join</button>
  </div>
</div>
